@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
html {
  font-size: 100%;
  height: 100%;
}
body {
  direction: ltr;
  background-color: #e5e9ec;
  color: #505458;
  font-family: 'Arial';
  font-size: 13px;
  padding: 0px !important;
  margin: 0px !important;
  line-height: 1.5;
  font-style: normal;
  font-weight: normal;
  height: 100%;
}
#root {
  height: 100%;
}
/* TOP NAVIGATION SECONDARY*/
.hms_top_menu {
  padding-left: 3px;
}
.hms_top_menu_container {
  background-color: #E57373;
  border-radius: 5px 5px 0px 0px;
  position: relative;
}
.hms_top_secondary_menu_container {
  position: relative;
}
.hms_top_menu_container ul,
.hms_top_secondary_menu_container ul {
  list-style: none;
  margin-bottom: 0px;
}
.hms_top_secondary_menu_container ul li,
.hms_top_menu_container ul li {
  display: inline-block;
  vertical-align: top;
  padding: 8px; 
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.hms_top_menu_container ul li a:hover,
.hms_top_menu_container ul li a {
   color: #fff;  
}
.hms_top_menu_container ul li a:hover {
  text-decoration: none; 
}
.hms_top_menu_container ul li.active {  
  background-color: #caced0;
}
.hms_top_menu_container ul li.active a {
  color: #505458;  
}
.hms_top_secondary_menu_container {
  background-color: #caced0; 
}